<?xml version="1.0" encoding="UTF-8"?>

<!--
톰캣에 필요한 설정값
설정값을 주면, 톰캣이 읽은 후에 구동시켜준다.
-->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
<!--  서블릿 이름 설정   -->
        <servlet-name>xmlmapping</servlet-name>
<!--  서블릿에 연결될 클래스  -->
        <servlet-class>com.ohgiraffers.chap01.section01.xml.LifeCycleTestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>xmlmapping</servlet-name>
        <url-pattern>/xml-lifecycle</url-pattern>
    </servlet-mapping>
</web-app>